body {
	background: url('resources/geo_bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* hide scrolling content under header */
.hider {

	z-index: 10;
	background: inherit;
	opacity: 1;
	position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-bottom: 1.5em;

}

.billboard {
	
	margin: auto;
	margin-top: 1em;
	left: 0px;
	width: 98vw;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: .5em;
    padding-top: .5em;


}

/* alternate header
.billboard-heading {

	font-size: 3em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}
*/

.next, .logo, .write, .refresh {

	display: inline-block;
	padding-left: 3em;
	padding-right: 3em;

}

/* indicate clickable content */
.next, .user, .write, .refresh {

	cursor: pointer;
}


.wrapper {
	
	margin-top: 7em;
	z-index: 5;
	overflow: auto;

}

.sidebar {

	position: fixed;
	width: 30vw;
	background: rgba(255, 255, 255, 0.5);
	border-radius: .5em;

}

.property {

	border-bottom: .1em solid black;

}

.property li {

	list-style: none;
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}

.values li {
	font-size: 1.2em;
	list-style: none;
	display: inline-block;
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Gentium Book Basic', serif;
	font-weight: 700;
	color: blue;
}

.visitor {

	text-align: center;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 2em;
	border: .1em solid black;
	border-radius: .5em;
	width: 30%;
	background-color: black;
	opacity: .9;

}


input { 

    opacity: .7;
    width: 90%;
    height: 1.5em;
    text-indent:3px;
    margin: 1em;
    border: none;
    border-radius: .5em;

}

.submit {

	width: 14%;
	height: 2em;
	background: rgba(0, 0, 0, 0.5);
	border-radius: .5em;
	margin: auto;
	margin-bottom: 1em;
	transition: background .2s;
}

.submit:hover {

	background: rgba(255, 255, 255, 0.7);

}


.tweets {

	margin: auto;
	width: 60vw;
	padding: 1em;
	background: rgba(255, 255, 255, 0);
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	float: right;

}

.tweet {

	padding-top: .5em;
	padding-bottom: 1em;
	border-bottom: solid .1em black;

}


.user {

	font-weight: 700;
	font-size: .8em;
	font-family: 'Gentium Book Basic', serif;
	
}

.timestamp {

	font-size: .6em;
	color: #333333;
	float: right;
	
}

.message {

	margin-left: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	
}

